/* CSS declarations go here */

.login-center***REMOVED***
    width: 100%;
    position: absolute;
    top: 50%;
***REMOVED***

.link-progress ***REMOVED***
	margin-top : 10px;
	margin-bottom: 10px;
	margin-left : 0px;
	background-color: #222222;
    border: 1px solid #e5e5e5;
    display: table-cell;
    vertical-align: middle;
***REMOVED***


.user-bar ***REMOVED***
	float: right;
***REMOVED***

.progress-wrapper ***REMOVED***
***REMOVED***

.read-type ***REMOVED***
	margin-top : 10px;
	margin-bottom: 10px;
	float: right;
***REMOVED***

.link-header ***REMOVED***
	margin-top : 10px;
	margin-bottom: 10px;
***REMOVED***



#add-btn ***REMOVED***
	margin-bottom: 10px;
***REMOVED***

.read-btn ***REMOVED***
***REMOVED***

.delete-btn ***REMOVED***
***REMOVED***

.commented-by ***REMOVED***
	display: block;
***REMOVED***

.comment-actions ***REMOVED***
	display: block;
***REMOVED***

.comment-action***REMOVED***
	margin-right: 7px;
***REMOVED***

.comment-header ***REMOVED***
	margin-top : 0px;
***REMOVED***

.comment-box ***REMOVED***
	margin-top : 10px;
***REMOVED***

.comment ***REMOVED***
	padding-top : 20px;
	padding-bottom : 20px;
	padding-left : 20px;
	padding-right : 20px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
***REMOVED***

.comment-box-body ***REMOVED***
	border-top-left-radius : 5px;
	border-top-right-radius : 5px;
	border-bottom-left-radius : 5px;
	border-bottom-right-radius : 5px;
	border-style : solid;
	border-width : 1px;
	margin-bottom: 20px;
	
***REMOVED***

.description-header ***REMOVED***
	margin-bottom : 10px;
***REMOVED***

.description-icon ***REMOVED***
	margin-right : 5px;
***REMOVED***

.link-description ***REMOVED***
	display : block;
***REMOVED***

.link-actions ***REMOVED***
	display : block;
	margin-top : 10px;
***REMOVED***

.link-accordion ***REMOVED***
	padding-bottom : 10px;
***REMOVED***

.description-box ***REMOVED***
	margin-bottom: 10px;
	
***REMOVED***

.comment-btn ***REMOVED***
	margin-left : 20px;
	margin-bottom : 10px;
***REMOVED***

.friend-item ***REMOVED***
	display : block;
***REMOVED***

.friend-item-name ***REMOVED***
	margin-right: 20px;
***REMOVED***






